.notesShadow {
  /*border: 1px solid black;
  margin: 30px 10px 10px 10px;*/
  border: 1px solid #edf3f8;
  background-color: white !important;
  border-radius: 5px;
  margin: 10px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow:   0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
 -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);

}
